* {
  color: #183A0A;
  font: normal 12pt sans-serif, serif;
}

body {
  background: white url("bg.png") repeat-y top left;
}

div#title { 
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 60px;
}

div#title h1 { 
  margin: 10px 10px 10px 10px;
  width: 100%;
  height: 40px;
  padding: 5px 20px 5px 20px;
  background: transparent url("title.png") no-repeat top left;
}

div#menu {  
  position: absolute;
  top: 60px;
  left: 0px;
  right: 150px;
  bottom: 0px;  
}

div#menu * {  
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font: bold 10pt sans-serif, serif;
  list-style-type: none;
}

div#menu a {  
  text-decoration: none;
  color: #701010;
}

div#menu ul.top {
  width: 130px;
  margin: 10px 0px 0px 10px;
  padding: 5px 0px 5px 5px;  
  background: transparent url("menu.png") repeat-x top left;
}

div#menu li.level1 { 
  margin: 0px 0px 0px 0px;
}

div#menu li.level2 { 
  padding: 0px 0px 0px 7px;
}

div#menu li.level3 { 
  margin: 0px 0px 0px 14px;
}

div#body {  
  position: absolute;
  top: 60px;
  left: 160px;
  right: auto;
  bottom: 100%;  
  padding: 0px 20px 0px 0px;
}

h1 {
  font-weight: bold;
  font-size: 18pt;
}

a.button { 
  margin: 5px 5px;
}

table * img { 
  border-style: none;
}